#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

.location-info-window {
    position: relative;
}

.location-image {
    cursor: pointer;
    max-width: 100%;
    margin: 0 auto;

    image-orientation: from-image; // works in FF only
}

.arrow-container {
    position: absolute;  
    width: 50px;
    height: 100%;
    z-index: 100;
    cursor: pointer;
}

.arrow-container.next {
    right: 0;
}

.arrow-container.previous {
    left: 0;
}

.arrow-container:hover {
    background-color: rgba(255, 255, 255, 0.4); // using opacity would affect the child element too
}

.arrow-pic {
    height: 70px;
    position: relative;
    top: 40%;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.arrow-pic.next {
    background-image: url("right-arrow.png");
}

.arrow-pic.previous {
    background-image: url("left-arrow.png");
}

#close-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    z-index: 200;

    cursor: pointer;
    margin: 0 10px;
    font-size: 30px;
}

button {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    height: 30px;
    border-radius: 0;
    cursor: pointer;

    position: absolute;
    top: 100px;
}

#next-location {
    right: 250px;
}

#all-locations {
    right: 120px;
}